@padding: 10px;
@footer-font-size: 16px;
@footer-height: @footer-font-size + (@padding * 4);
@font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

html {
	font-family: @font-family;
	color: #333;
	background-color: #ccc;
}
html, body {
	height: 100%;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sps-app {
	display: block;
	position: relative;
	min-height: 100%;
	padding-bottom: @footer-height;
}

.sps-masthead {
	display: block;
	font-family: @font-family;
	padding: @padding;
	color: #fff;
	background-color: #333;
	&__title {
		font-size: 2em;
	}
}

.sps-navbar {
	font-family: @font-family;
	padding: @padding;
	background-color: #fff;
	border-bottom: 1px solid #333;
	&__category {
		position: relative;
		display: inline-block;
		margin-left: 20px;
		cursor: pointer;
		&:first-of-type {
			margin-left: 0;
		}
	}
	&__category-dropdown {
		padding-top: @padding;
		position: absolute;
		visibility: hidden;
		.sps-navbar__category:hover & {
			visibility: visible;
		}
	}
	&__nav-link {
		@glyph-width: 16px;
		display: block;
		color: #fff;
		background-color: #333;
		text-decoration: none;
		padding: 5px (@padding + @glyph-width) 5px @padding;
		white-space: nowrap;
		&:before {
			display: inline-block;
			width: @glyph-width;
			content: '';
		}
		&--active {
			&:before {
				content: '\2022';
			}
		}
		&:hover {
			color: #fff;
			background-color: #aaa;
		}
	}
}

.sps-main {
	display: block;
	padding: @padding;
	&__header-primary {
		font-family: @font-family;
	}
}

.sps-footer {
	display: block;
	font-size: @footer-font-size;
	position: absolute;
	height: @footer-height - (@padding * 4);
	bottom: 0;
	left: 0;
	width: calc(100% ~"-" 20px);
	margin-top: 1em;
	padding: (@padding * 2) @padding;
	color: #fff;
	background-color: #333;
}

.sps-pattern-detail {
	display: block;
	&__header-code {
		color: #aaa;
		font-size: 1em;
		margin-bottom: .3em;
	}
	&__pattern {
		padding: @padding;
		background-color: #fff;
		border: 1px solid #ccc;
	}
	&__source {
		margin-top: @padding;
	}
}

.sps-tabset {
	display: block;
	&__tab {
		display: inline-block;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		color: #aaa;
		font-size: 1em;
		padding: @padding;
		cursor: pointer;
		&--active {
			color: #333;
			background: #fff;
		}
	}
	&__tab-content {
		height: 250px;
		max-height: 250px;
		overflow-y: auto;
		padding: @padding;
		color: #fff;
		background-color: #333;
		border: 1px solid #ccc;
	}
}